.white_section{
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    
    .error {
        color: red;
    }

    .require {
        color: red;
    }

    .hidden {
        display: none;
    }

    .file-li {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #f7f8fa;
        margin-top: 0.75rem;
        border-radius: 4px;
    }

    .delete-file {
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
        font-size: .7rem;
        color: #a2a5b9;
    }

    .sub-titulo {
        font-size: larger;
        padding: 3%;
        color: #e7a4a2;
        margin-left: -2%;
    }


    .star {
        cursor: pointer;
        font-size: 35px;
        color: gray;
    }

    .star.selected,
    .star:hover {
        color:  #e7a4a2;;
    }

    .gold {
        color:  #e7a4a2;;
    }
    .bt_eliminar{
        transform: translate(10px, 10px);
    }
    .card-ppal{
        width: 100%;
    }
    /* start */
        .custom-input-file {
            background-color: #e7a4a2;
            color: #fff;
            cursor: pointer;
           
            font-weight: bold;
            margin: 0 auto 0;
            min-height: 15px;
            overflow: hidden;
            padding: 10px;
            position: relative;
            text-align: center;
            width: 400px;
            border-radius:5px;
        }

        .custom-input-file .input-file {
            border: 10000px solid transparent;
            cursor: pointer;
            font-size: 10000px;
            margin: 0;
            opacity: 0;
            outline: 0 none;
            padding: 0;
            position: absolute;
            right: -1000px;
            top: -1000px;
        }
        /* end */
        .profile-picture {
            position: relative;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
        }

        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-picture .edit-button {
            position: absolute;
            bottom: 8px;
            right: 8px;
            background-color: #007bff;
            color: #fff;
            padding: 4px 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            z-index: 1;
            font-size: 14px;
        }

        .profile-picture input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 2;
        }