.sub-titulo {
    font-size: larger;
    padding: 3%;
    color: #e7a4a2;
    margin-left: -2%;
}


.star {
    cursor: pointer;
    font-size: 25px;
    color: gray;
}

/* .star.selected,
.star:hover {
    color: #e7a4a2;
} */

.gold {
    color: #e7a4a2;
}

.hidden {
        display: none;
    }